<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<!--<listeners>
<listener class-name="com.sauce.qa.Util.WebListener"></listener>
<listener class-name="com.sauce.qa.ExtendReport.ExtentReporterNG"></listener>


</listeners>-->


  <test thread-count="5" name="Test">
    <classes>
      <class name="com.sauce.qa.TestCases.OverviewPageTest"/>
      <class name="com.sauce.qa.TestCases.CheckOutPageTest"/>
      <class name="com.sauce.qa.TestCases.LoginPageTest"/>
      <class name="com.sauce.qa.TestCases.ProductsPageTest"/>
      <class name="com.sauce.qa.TestCases.AddCartPageTest"/>
      <class name="com.sauce.qa.TestCases.OrderPlacedPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
